* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: rgb(61, 146, 201);
}
a:hover,
a:focus {
    text-decoration: underline;
    cursor: pointer;
}

/* LAYOUT CSS */
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

.container {
    padding: 0;
    display: flex;
    height: 100vh;
}

.sidebar {
    background-color: #333;  /* 设置侧边栏的背景颜色 */
    color: #f2f2f2;  /* 设置侧边栏的文字颜色 */
}
.content {
    height: 100%;
    overflow: auto;
    background-color: #f2f2f2;  /* 添加背景颜色 */
    color: #333;  /* 添加文字颜色 */
    padding: 2em 2em 0;
}

/* Common Styles */
.content h1{
    color: #333;
    font-size: 1.8em;
    text-align: left;
}

.content h2 {
    color: #666;
    font-size: 1.3em;
    margin-top: 1em;
}

.content ul {
    list-style: none;
    padding: 0;
    margin-left: 1em;
}

.content li {
    margin-bottom: 0.5em;
    padding-left: 0.5em;
}

.content a {
    color: #333;
    text-decoration: none;
}

.content a:hover {
    color: #666;
}

.content span {
    color: #999;
    font-size: 0.8em;
    margin-left: 0.5em;
}



/* 头像 */
.avatar {
    display: block;
    width: 50%;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 50%;
    border: 8px solid #b3c7d6;  /* 修改边框颜色为淡蓝色 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);  /* 调整阴影颜色和模糊度 */
    transition: transform 1s;  /* 添加过渡效果 */
}
.avatar:hover {
    transform: rotate(360deg);  /* 添加旋转效果 */
}

.introduction {
    text-align: center;
    display: block;
    font-size: 1.2em;  /* 增加字体大小 */
}

/* 导航部分 */
.nav {
    text-align: center;
    margin-top: 20px;
}

.nav .nav-links {
    list-style-type: none;
    padding: 0;
}

.nav .nav-links li {
    display: block;
    width: 100%;
    margin: 15px 0;
}

.nav .nav-links li a {
    color: #f2f2f2;  /* 修改字体颜色 */
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, text-decoration 0.3s ease;
    cursor: pointer;
}

.nav .nav-links li a:hover {
    color: #0077b5;
    text-decoration: none;  /* 鼠标悬停时的下划线 */
}

.nav .nav-links li a i {
    width: 20px;  /* 设置图标的宽度 */
    margin-right: 5px;  /* 设置图标和文字之间的间隔 */
    font-size: 16px;  /* 设置图标的大小 */
    text-align: center;  /* 让图标在其容器内居中 */
    display: inline-block;  /* 让图标成为一个内联块级元素 */
}

.nav .nav-links li a:hover i {  /* 添加这一行 */
    color: #0077b5;
    text-decoration: none;  /* 鼠标悬停时的下划线 */
}

/* 社交链接部分 */
.social {
    text-align: center;  /* 让.social-links整体水平居中 */
}

.social .social-links {
    list-style-type: none;
    padding: 0;
    display: inline-block;  /* 让.social-links成为一个内联块级元素 */
}

.social .social-links li {
    display: inline-block;
    margin: 0 10px;
}

.social .social-links li a,
.social .social-links li a i {  /* 添加这一行 */
    color: #f2f2f2;  /* 修改图标颜色 */
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    cursor: pointer;
}

.social .social-links li a:hover,
.social .social-links li a:hover i {  /* 添加这一行 */
    color: #0077b5;  /* 鼠标悬停时的颜色 */
}


/* 首页部分 */
.blog-post {
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

.blog-post img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 20px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: box-shadow 0.3s ease-in-out;
}

.post-title {
    font-size: 24px;
    margin-bottom: 5px;
}

.post-title a {
    color: #333;
    text-decoration: none;
}

.post-title a:hover {
    color: #666;
}

.post-date {
    font-size: 14px;
    color: #999;
}

.post-summary {
    font-size: 16px;
}

/* Archive页面 
.archive-page h1 {
    color: #333;
    font-size: 1.8em;
    text-align: left;
}

.archive-page h2 {
    color: #666;
    font-size: 1.3em;
    margin-top: 1em;
}

.archive-page ul {
    list-style: none;
    padding: 0;
    margin-left: 1em;
}

.archive-page li {
    margin-bottom: 0.5em;
    padding-left: 0.5em;
}

.archive-page a {
    color: #333;
    text-decoration: none;
}

.archive-page a:hover {
    color: #666;
}

.archive-page span {
    color: #999;
    font-size: 0.8em;
    margin-left: 0.5em;
}
*/

/* 论文发表部分 */
.section-content {
    margin-bottom: 20px;
}

.publication {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.publication h3 {
    color: #333; /* 修改标题颜色 */
    margin-bottom: 5px; /* 减小标题和下一元素之间的间距 */
    font-weight: 200; /* 修改标题字体粗细 */
}

.publication p {
    margin-bottom: 5px;
    margin-top: 5px;
    font: 0.8em sans-serif;
    color: #666; /* 修改段落颜色 */
    line-height: 1.5; /* 修改行高 */
}

.publication .links {
    display: flex;
    justify-content: space-between;
    margin-top: 5px; /* 增加上边距 */
    font: 0.9em sans-serif;
}

/* About Me 页面 */
.about-me a {
    color: rgb(61, 146, 201);
}

@media (max-width: 600px) {

    .sidebar .introduction,
    .sidebar .social {
        display: none;
    }
}
